@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&family=Sigmar&display=swap');

body {
  margin: 0;
}

.page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.bg-image {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 0.5;
}

.login {
  height: 500px;
  position: fixed;
  left: 280px;
  right: 280px;
  top: 100px;
  background-color: white;
  opacity: 0.85;
}

.login h1 {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  margin-top: 50px;
}

.login-details {
  margin: 30px auto;
  width: 60%;
}

.login-details label {
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
}
.login-details input {
  width: 100%;
  outline: none;
  height: 2.2rem;
  font-size: 0.9rem;
  padding: 0 10px;
  margin-bottom: 20px;
}

.invalid-username {
  color: red;
  font-size: 0.8rem;
  font-weight: lighter;
  margin: 12px 0;
  font-family: Roboto;
  text-align: center;
}

.others {
  font-weight: bold;
  color: grey;
  font-size: 0.8rem;
  text-align: center;
  margin: 6px 15px;
}

.others::before, .others::after {
  content: " -- ";
}

.other-ways {
  width: fit-content;
  margin: 20px auto;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(195, 195, 195);
  border-width: 1px;
  padding: 6px;
  padding-right: 18px;
  color: rgb(101, 101, 101);
}

.other-ways p, img {
  display: inline;
  font-weight: lighter;
  font-size: 0.9rem;
  font-family: Roboto;
  vertical-align: middle;
}

.other-ways img {
  height: 20px;
  margin: 8px;
}

.other-ways:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  color: black;
}

.submit {
  width: fit-content;
  margin: auto;
  opacity: 1;
}

label {
  margin-top: 10px;
}