<div class="sidebar" style="overflow-y: scroll; height:530px;">
  <app-sidebar />
</div>

<div class="content">
  @for (product of products; track product.id; let i = $index) {
    @defer (on viewport) {
      <app-all-products [item]="i" />
    } @placeholder {
      <div class="loading">
        <mat-progress-bar mode="determinate" value="75" />
      </div>
    } @loading (minimum 0.5s) {
      <div class="loading">
        <mat-progress-bar mode="determinate" value="75" />
      </div>
    }
  }
</div>

<router-outlet></router-outlet>