<div class="order-card">
  @if (inCart.length === 0) {
    <div class="empty-cart">
      <img style="margin-left: 90px; margin-right: 90px; margin-top: 30px; width: 40%;" src="https://constant.myntassets.com/checkout/assets/img/empty-bag.webp">
      <p class="primary-line">Hey, it feels so light!</p>
      <p class="secondary-line">There is nothing in your bag. Let's add some items.</p>

      <div style="display: flex; justify-content: center; margin-top: 10px;">
        <button class="go-to-home-button" (click)="redirectToHome()">ADD ITEMS</button>
      </div>
    </div>
  } 
  
  @else {
    <div class="head-div">
      <p class="head">Your orders</p>
    </div>
  
    <div class="orders">
      <div>
        @if (!User.isLoggedIn) {
          <div class="address-div">
            <p>Login to choose address</p>
            <button class="utility-btn">LOGIN</button>
          </div>
        }
        @else {
          <div class="address-div">
            <p>Delivering to: <b>{{ userDetails.details.name }}</b></p>
            <p>{{ userDetails.details.location }}</p>
            <button class="utility-btn">CHANGE ADDRESS</button>
          </div>
        }
        
        <div class="added-product">
          @for (item of inCart; track item.id; let i = $index) {
            @defer {
              <app-cart-item [item]="i"></app-cart-item>
            } @placeholder {
              <p></p>
            } @loading (minimum 2s) {
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            }
          }
        </div>
      </div>
  
        <app-price-details />
    </div>
  }
</div>