@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0,
    height: 20px
  ));
}

body {
  margin: 0;
  font-family: Roboto Condensed, Arial;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}
.m-icon-div {
  width: 100px;
  height: 34px;
  text-align: center;
  margin-left: 15px;
}
.m-icon-div:hover {
  cursor: pointer;
}

.m-icon {
  height: 34px;
}

.wishlist-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  border: none;
  font-family: Roboto Condensed;
}

.wishlist-p {
  margin: 0;
}

.wishlist {
  height: 26px;
  width: 26px;
}
.wishlist-button:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.bag-icon {
  height: 26px;
  width: 26px;
}
.bag-button {
  height: 50px;
  width: 50px;
  background-color: white;
  border: none;
  border-radius: 25px;
}
.bag-button:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
::ng-deep .custom-badge .mat-badge-content {
  background-color: rgb(255, 85, 113) !important;
  color: white !important;
  
}

.user {
  height: 22px;
  padding-top: 5px;
}

.user-button {
  background-color: white;
  border: none;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 0;
}
.user-button:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

.user-p {
  margin-top: 0px;
  font-family: Roboto Condensed;
}

.profile-div {
  padding: 5px;
  flex: 1;
  justify-content: space-evenly;
}

.categories {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.categories-button {
  background-color: white;
  border: none;
  font-family: Roboto Condensed;
  font-weight: 500;
  width: 70px;
  height: 80px;
}
.categories-button:hover {
  cursor: pointer;
  border-bottom-width: 2px;
  border-bottom-color: rgb(255, 85, 113);
  border-bottom-style: solid;
}

.search-bar-div {
  flex: 1;
}

.search-bar {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  padding-left: 20px;
  min-inline-size: 0;
  margin-left: 40px;
}
.search-bar:active {
  background-color: white;
  border-color: rgb(218, 218, 218);
  border-width: 1px;
}

.right-section {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 30px;
  margin-left: 100px;
}

.content {
  padding-top: 25px;
  margin-top: 150px;
  margin-left: 250px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  border-top-style: solid;
  border-top-color: rgb(222, 222, 222);
  border-top-width: 1px;
}

.item {
  width: 200px;
  height: 400px;
  border-radius: 10px;
  position: relative;
}
.item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


.add {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 25px;
  color: rgb(219, 0, 98);
}
.add:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.15s;
}
.add:active {
  background-color: rgb(220, 220, 220);
  transition: 0.15s;
}

.image {
  width: 100%;
}

.brand {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 5px;
}

.type {
  color: gray;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 15px;
}

.price {
  font-weight: bold;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 5px;
}

.stock {
  margin-left: 10px;
  margin-top: 2px;
  text-align: right;
  font-size: 12px;
  color: green;
  font-weight: bold;
  margin-right: 10px;
}

.out-stock {
  margin-left: 10px;
  margin-top: 2px;
  text-align: right;
  font-size: 12px;
  color: red;
  font-weight: bold;
  margin-right: 10px;
}

.sidebar {
  position: fixed;
  top: 99px;
  width: 220px;
  left: 0;
  height: 100%;
}

.title {
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
  border-bottom-width: 1px;
}

.filters {
  margin-left: 20px;
  font-weight: bold;
}

.main {
  align-items: center;
  display: block;
  padding-top: 3px;
}

.cat {
  margin-left: 20px;
  margin-top: 20px;
  font-family: Roboto, Arial;
  font-size: 13px;
}

.checkbox-container {
  height: 12px;
  padding-top: 0px;
  padding-bottom: 3px;
  color: rgb(74, 74, 74);
}

input {
  margin-right: 10px;
  height: 12px;
}

.filter-head {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: bold;
  padding-top: 20px;
}

md-select.slide {
  accent-color: orange;
}
