<div class="background">
  <div class="account">
    <p class="main-heading">Account</p>
    <p class="cont">Michael</p>
  </div>
  <div class="holders">
    <div class="profile-sidebar">
      <p class="sidebar-options">Overview</p>
      <p class="sidebar-options">Orders and Returns</p>
      <p class="sidebar-options">Coupons</p>
      <p class="sidebar-options">Myntra Credits</p>
      <p class="sidebar-options">MynCash</p>
      <p class="sidebar-options">Profile</p>
      <p class="sidebar-options">Saved Cards</p>
      <p class="sidebar-options">Saved UPI</p>
      <p class="sidebar-options">Saved Wallets</p>
      <p class="sidebar-options">Addresses</p>
      <p class="sidebar-options">Myntra Insider</p>
      <p class="sidebar-options">Delete Account</p>
      <p class="sidebar-options">Terms and Conditions</p>
    </div>
    <div class="profile-details">
      <div class="profile-head">
        <p class="main-heading">Profile Details</p>
      </div>
      <div class="details">
        <div class="details-head">
          <p>Full Name</p>
          <p>Mobile Number</p>
          <p>Email ID</p>
          <p>Gender</p>
          <p>Date of Birth</p>
          <p>Location</p>
          <p>Alternate Mobile Number</p>
          <p>Hint name</p>
        </div>
        <div class="details-info">
          <p>Michael</p>
          <p>9014714939</p>
          <p>pamruth09&#64;gmail.com</p>
          <p>male</p>
          <p>22-02-2006</p>
          <p>- not added -</p>
          <p>9949852292</p>
          <p>- not added -</p>
        </div>
      </div>
      <button class="edit">EDIT</button>
    </div>
  </div>
</div>