<div class="order">
  <div class="order-image-div" (click)="redirectToProduct()">
    <img class="order-image" src="{{ inCart[item].hlink[0] }}">
  </div>
  
  <div class="description">
    <div>
      <p class="brand">{{ inCart[item].brand }}</p>
      <p class="type">{{ inCart[item].type }}</p>
      <p class="size">Size: {{ inCart[item].size }}</p>
      <p class="price">Rs. {{ inCart[item].price }}</p>
      <p class="return">&#x21A9; 14 days return available</p>
    </div>
  </div>

  <div class="remove">
    <button class="remove-button" (click)="cartService.removeFromCart(inCart[item].id)">&#10005;</button>
  </div>
</div>