.popup {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
  .product-image {
    margin: 20px auto;
    height: 95%;
  }

.nav {
  height: 50px;
  position: absolute;
  top: 50%;
}
.nav:hover {
  cursor: pointer;
}

  .right {
    transform: rotate(-90deg);
    right: 0;
  }

  .left {
    transform: rotate(90deg);
    left: 0;
  }

.quick-select {
  position: absolute;
  height: 50%;
  width: 40px;
  top: 20px;
  left: 20px;
}

  .quick-select img {
    height: 20%;
    margin: 0;
    margin-bottom: 5%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }

  .quick-select img:hover {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
  }